altgraph==0.17.4
aniso8601==9.0.1
bs4==0.0.2
click
colorama==0.4.6
Flask
Flask-Login
Flask-RESTful==0.3.10
Flask-WTF
iniconfig
Jinja2
MarkupSafe
packaging
pefile
pyinstaller
pyinstaller-hooks-contrib==2023.10
pytest
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.31.0
schedule==1.2.1
screeninfo==0.8.1
six==1.16.0
soupsieve
SQLAlchemy==2.0.29
types-html5lib
typing_extensions
urllib3
Werkzeug
WTForms
