altgraph==0.17.4
aniso8601==9.0.1
beautifulsoup4==4.12.3
blinker==1.7.0
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.2
Flask-Login==0.6.3
Flask-RESTful==0.3.10
Flask-WTF==1.2.1
greenlet==3.0.3
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
packaging==23.2
pefile==2023.2.7
pluggy==1.4.0
pygame==2.5.2
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pytest==8.1.1
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.31.0
schedule==1.2.1
screeninfo==0.8.1
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.29
types-beautifulsoup4==4.12.0.20240229
types-html5lib==1.1.11.20240228
typing_extensions==4.10.0
urllib3==2.1.0
Werkzeug==3.0.1
WTForms==3.1.2
