<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>ЕГЭ</title>
    <style>
        .center {
            padding-left: 300px;
            padding-right:300px;
            padding-top: 50px;
            padding-bottom:50px
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">ЕГЭ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/math_main">Математика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inf_main">Информатика</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a class="btn btn-outline-light my-2 my-sm-0" href="/enter" type="submit">Вход</a>
            </form>
        </div>
    </nav>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Задание 1</h2>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Определите, сколько раз в тексте романа Александра Грина «Бегущая по волнам»
                встречаются слова с сочетанием букв «удар», например «сударь», «Ударили», «ударный». Отдельные слова
                «удар» и «Удар» учитывать не следует. В ответе запишите только число.</p>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Ответ:</span>
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <a href="https://example.com">Скачать файл</a>
    </div>
    <div class="b-example-divider"></div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                     height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Задание 2</h2>
                <p class="lead">В файле приведён фрагмент базы данных «Продукты» о поставках товаров в магазины районов
                    города. База данных состоит из трёх таблиц.

                    Таблица «Движение товаров» содержит записи о поставках товаров в магазины в течение первой декады
                    июня 2021 г., а также информацию о проданных товарах.

                    Поле Тип операции содержит значение Поступление или Продажа, а в соответствующее поле Количество
                    упаковок, шт. занесена информация о том, сколько упаковок товара поступило в магазин или было
                    продано в течение дня.

                    Таблица «Товар» содержит информацию об основных характеристиках каждого товара.

                    Таблица «Магазин» содержит информацию о местонахождении магазинов. На рисунке приведена схема
                    указанной базы данных.</p>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Ответ:</span>
                    <textarea class="form-control"></textarea>
                </div>
                <a href="https://example.com">Скачать файл</a>
            </div>
        </div>
    </div>
</header>
<a type="button" href="/reg_user" class="btn btn-secondary btn-lg btn-block">Отправить ответы</a><br><br>

</body>
<div class="b-example-divider"></div>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Поддержка</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Лайфхаки</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; Чем больше работаешь - тем выше результат</p>
    </footer>
</div>
</html>
