<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>ЕГЭ</title>
    <style>
        .center {
            padding-left: 300px;
            padding-right:300px;
            padding-top: 50px;
            padding-bottom:50px
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">ЕГЭ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/math_main">Математика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inf_main">Информатика</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a href="/enter"><img src="static/img/профиль.png" alt="Иконка"></a>
            </form>
        </div>
    </nav>
    <form class='pad' method="post" enctype="multipart/form-data">
        {% for item in lst %}
        {% if not item.picture %}
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Задание {{item.number}}</h2>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">{{item.task_text}}</p>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Ответ:</span>
                    <input class="form-control" name="{{ item.number }}_{{ item.answer }}">
                </div>
            </div>
            {% if object=='inf' and item.file %}
            <a href="{{ item.file }}">Скачать файл</a><br>
            {% endif %}
            {% if object=='inf' and item.file2 %}
            <a href="{{ item.file2 }}">Скачать файл</a>
            {% endif %}
        </div>
        {% else %}
        <div class="b-example-divider"></div>
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="data:image/png;base64,{{item.task_picture}}" class="d-block mx-lg-auto img-fluid"
                         alt="Image"
                         width="700" height="500" loading="lazy" srcset="data:image/png;base64,{{item.task_picture}}">
                </div>
                <div class="col-lg-6">
                    <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Задание {{item.number}}</h2>
                    <p class="lead">{{item.task_text}}</p>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" name="{{ item.number }}_{{ item.answer }}">Ответ:</span>
                        <textarea class="form-control"></textarea>
                    </div>
                    {% if object=='inf' and item.file %}
                    <a href="{{ item.file }}">Скачать файл</a><br>
                    {% endif %}
                    {% if object=='inf' and item.file2 %}
                    <a href="{{ item.file2 }}">Скачать файл</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <button type="submit" href="#" class="btn btn-secondary btn-lg btn-block">Отправить ответы</button><br><br>
    </form>

</header>

</body>
<div class="b-example-divider"></div>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Поддержка</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Лайфхаки</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; Чем больше работаешь - тем выше результат</p>
    </footer>
</div>
</html>
