<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Основные мета-данные и подключение стилей -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключение Bootstrap CSS для стилизации интерфейса -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Подключение пользовательского CSS-файла -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

    <!-- Встроенные стили для текущей страницы -->
    <style type="text/css">
        .pad {
            padding-left: 400px;
            padding-right: 400px
        }
        .center{
            padding-left: 660px
        }
    </style>

    <!-- Заголовок страницы в браузере -->
    <title>Информатика</title>
</head>
<body>

<!-- Шапка сайта с навигационным меню -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">ЕГЭ</a>

        <!-- Кнопка сворачивания меню для мобильных устройств -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Блок меню навигации -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/math_main">Математика</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="inf_main">Информатика</a>
                </li>
            </ul>

            <!-- Ссылка на профиль -->
            <form class="form-inline mt-2 mt-md-0">
                <a href="/enter"><img src="static/img/профиль.png" alt="Иконка"></a>
            </form>
        </div>
    </nav>

    <!-- Приветственный блок с описанием и кнопкой -->
    <div class="p-5 mb-4 bg-dark border rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 text-light fw-bold">Начните заниматься</h1>
            <h5 class="text-light">Соблюдая регулярность в практике, можно отработать все задания за довольно короткий
                промежуток времени. <br> Отследить прогресс поможет решение пробных вариантов.</h5>
            <a class="btn btn-secondary" href="/decision_inf" type="button">Сформировать пробный вариант</a>
        </div>
    </div>
</header>

<!-- Разделитель -->
<div class="b-example-divider"></div>

<!-- Форма выбора заданий ЕГЭ по информатике -->
<form method="post">
    <!-- Основной контейнер для чекбоксов -->
    <div class="d-flex flex-column flex-md-row p-4 gap-4 align-items-center justify-content-center">

        <!-- Блок первых 7 заданий -->
        <div class="list-group">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="1">
                <span>
                    1. Анализ информационных моделей
                    <small class="d-block text-body-secondary">Графы</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="2">
                <span>
                    2. Таблицы истинности логических выражений
                    <small class="d-block text-body-secondary">.</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="3">
                <span>
                    3. Реляционные базы данных
                    <small class="d-block text-body-secondary">Поиск информации в таблицах</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="4">
                <span>
                    4. Кодирование и декодирование
                    <small class="d-block text-body-secondary">Выбор кода</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="5">
                <span>
                    5. Построение алгоритмов
                    <small class="d-block text-body-secondary">Посимвольное преобразование</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="6">
                <span>
                    6. Простейшие алгоритмы
                    <small class="d-block text-body-secondary">Исполнитель Черепаха</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="7">
                <span>
                    7. Кодирование и декодирование
                    <small class="d-block text-body-secondary">Теория</small>
                </span>
            </label>
        </div>

        <!-- Блок заданий 8–14 -->
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <div class="list-group">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="8">
                    <span>
                        8. Перебор слов и систем счисления
                        <small class="d-block text-body-secondary">.</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="9">
                    <span>
                        9. Работа с таблицами
                        <small class="d-block text-body-secondary">Excel</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="10">
                    <span>
                        10. Работа с текстовым редактором
                        <small class="d-block text-body-secondary">Word</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="11">
                    <span>
                        11. Вычисление количества информации
                        <small class="d-block text-body-secondary">Теория. Пароли</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="12">
                    <span>
                        12. Выполнение алгоритмов
                        <small class="d-block text-body-secondary">.</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="13">
                    <span>
                        13. Организация компьютерных сетей. Адресация
                        <small class="d-block text-body-secondary">IP адреса</small>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="14">
                    <span>
                        14. Кодирование чисел. Системы счисления
                        <small class="d-block text-body-secondary">.</small>
                    </span>
                </label>
            </div>

            <!-- Блок заданий 15–21 -->
            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                <div class="list-group">
                    <label class="list-group-item d-flex gap-2">
                        <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="15">
                        <span>
                            15. Логические выражения
                            <small class="d-block text-body-secondary">отрезки, конъюнкция</small>
                        </span>
                    </label>
                    <label class="list-group-item d-flex gap-2">
                        <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="16">
                        <span>
                            16. Рекурсивные алгоритмы
                            <small class="d-block text-body-secondary">.</small>
                        </span>
                    </label>
                    <label class="list-group-item d-flex gap-2">
                        <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="17">
                        <span>
                            17. Обработки числовой последовательности
                            <small class="d-block text-body-secondary">.</small>
                        </span>
                    </label>
                    <label class="list-group-item d-flex gap-2">
                        <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="18">
                        <span>
                            18. Робот-сборщик монет
                            <small class="d-block text-body-secondary">.</small>
                        </span>
                    </label>
                    <label class="list-group-item d-flex gap-2">
                        <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="19">
                        <span>
                            19. Выигрышная стратегия. Задание 1
                            <small class="d-block text-body-secondary">Одна куча, две кучи</small>
                        </span>
                    </label>
                    <label class="list-group-item d-flex gap-2">
                        <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="20">
                        <span>
                            20. Выигрышная стратегия. Задание 2
                            <small class="d-block text-body-secondary">Одна куча, две кучи</small>
                        </span>
                    </label>
                    <label class="list-group-item d-flex gap-2">
                        <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="21">
                        <span>
                            21. Выигрышная стратегия. Задание 3
                            <small class="d-block text-body-secondary">Одна куча, две кучи</small>
                        </span>
                    </label>
                </div>

                <!-- Блок заданий 22–27 -->
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                    <div class="list-group">
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="22">
                            <span>
                                22. Многопроцессорные системы
                                <small class="d-block text-body-secondary">.</small>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="23">
                            <span>
                                23. Оператор присваивания и ветвления.
                                <small class="d-block text-body-secondary">Поиск количества возможных путей</small>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="24">
                            <span>
                                24. Обработка символьных строк
                                <small class="d-block text-body-secondary">.</small>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="25">
                            <span>
                                25. Обработка целочисленной информации
                                <small class="d-block text-body-secondary">Маски, делители</small>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="26">
                            <span>
                                26. Обработка целочисленной информации
                                <small class="d-block text-body-secondary">Сортировки</small>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" name="inf" value="27">
                            <span>
                                27. Программирование
                                <small class="d-block text-body-secondary">.</small>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Кнопка отправки формы -->
    <input type="submit" value="Начать" class="btn btn-secondary btn-lg btn-block"><br><br>
</form>

<!-- Разделитель -->
<div class="b-example-divider"></div>

<!-- Подвал сайта -->
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item"><a href="/motivation" class="nav-link px-2 text-body-secondary">Поддержка</a></li>
            <li class="nav-item"><a href="/lifehack" class="nav-link px-2 text-body-secondary">Лайфхаки</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; Чем больше работаешь - тем выше результат</p>
    </footer>
</div>
</body>
</html>