<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>ЕГЭ</title>
    <style>
        .center {
            padding-left: 300px;
            padding-right:300px;
            padding-top: 50px;
            padding-bottom:50px
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">ЕГЭ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/math_main">Математика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inf_main">Информатика</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a href="/enter"><img src="static/img/профиль.png" alt="Профиль"></a>
            </form>
        </div>
    </nav>
    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">Верь в себя и продолжай работать</h1>
                <p class="lead my-3">Воспринимай экзамены как вызов, который поможет развить твою стрессоустойчивость и
                    стремление к достижениям..</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">Когда нет сил</strong>
                        <h3 class="mb-0">Помни</h3><br>
                        <p class="card-text mb-auto">Подготовка к экзаменам может казаться утомительной, однако
                            каждый час, потраченный на изучение материала, приближает тебя к достижению твоей цели.
                            Каждый пройденный тест и каждая изученная тема делают тебя сильнее и увереннее. Вспомни, что
                            успешное сдача экзаменов откроет перед тобой новые возможности и даст тебе шанс достичь
                            своих целей. Твой труд не пропадет зря, и ты будешь гордиться своими достижениями. Поверь в
                            себя и продолжай двигаться вперед - у тебя все получится!</p>
                        <a href="https://mel.fm/ucheba/shkola/4762053-exam_preparation"
                           class="icon-link gap-1 icon-link-hover stretched-link">
                            Ещё
                            <svg class="bi">
                                <use xlink:href="#chevron-right"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                             focusable="false"><title>Placeholder</title>
                            <img scr="static/img/XAuUxY7mL74.jpg">
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">Если не знаешь, что делать</strong>
                        <h3 class="mb-0">Следуй плану</h3><br>
                        <p class="mb-auto"><strong>Поставь конкретные цели:</strong><br><br>

                            Попробуй разбить подготовку на конкретные этапы и установи себе ясные цели для каждого из
                            них. Например, "завершить изучение определенной темы к определенной дате" или "выучить
                            определенное количество новых слов каждый день".<br><br>


                            <strong>Постоянно напоминай себе свои успехи:</strong><br><br>

                            Не забывай о том, насколько далеко ты уже продвинулся. Представь себя на день экзамена,
                            когда ты успешно ответишь на вопросы, которые тебя сейчас беспокоят. Подумай о том, какой
                            результат ты хочешь достичь, и представь себе, как это будет здорово.<br><br>


                            <strong>Заботься о себе:</strong><br><br>

                            Не забывай об отдыхе, физической активности и здоровом питании. Регулярные перерывы помогут
                            тебе удерживать концентрацию и сохранять энергию для изучения.<br><br>


                            <strong>Найди поддержку:</strong><br><br>

                            Общайся с друзьями, семьей или коллегами, которые могут поддержать тебя в этот период.
                            Иногда обсуждение материала с кем-то другим может помочь улучшить понимание темы.<br><br>


                            <strong>Верь в себя:</strong><br><br>

                            Не забывай, что ты способен на большее, чем ты можешь себе представить. Трудности подготовки
                            к экзаменам временны, но твои знания и умения будут с тобой надолго.</p>
                        <a href="https://ru.wikihow.com/правильно-планировать-время-старшекласснику"
                           class="icon-link gap-1 icon-link-hover stretched-link">
                            Ещё
                            <svg class="bi">
                                <use xlink:href="#chevron-right"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                             focusable="false"><title>Placeholder</title>
                            <img scr="static/img/2570267260.jpg">
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </main>
</header>
</body>
</html>