<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <style type="text/css">
        .pad {
            padding-left: 400px;
            padding-right: 400px
        }
        .center{
            padding-left: 685px
        }
    </style>
    <title>Регистрация</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">ЕГЭ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Математика</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Информатика</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Вход</button>
    </form>
  </div>
</nav>
    <br>
    <h1 class="display-4" align=center>Регистрация</h1>
    <div class="btn-group center" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary active">Пользователю</button>
  <button type="button" class="btn btn-secondary">Администратору</button>
        <br>
</div>
        <form class='pad' method="post" enctype="multipart/form-data">
  <div class="form-group">
      <br>
    <input class="form-control" name="login" placeholder="Логин">
    <input type="password" class="form-control" name="password" placeholder="Пароль">
    <label for="exampleFormControlFile1" name="photo">Выберите фото профиля</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" >
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
            <br>
<button type="button" class="btn btn-secondary btn-lg btn-block">Вход</button>
</form>
</header>
</body>
</html>