<!DOCTYPE html>
<html>
<head>
    <!-- Основные мета-данные и подключение стилей -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключение Bootstrap CSS (версия 4.4.1) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Подключение пользовательского CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

    <!-- Подключение Google Charts для построения графика успеваемости -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Скрипт отрисовки линейного графика -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            const data = google.visualization.arrayToDataTable([
                ['Task', 'Средний показатель в процентах'],
                {% for i in range(25) %}
                [{{i + 1}}, {{graphik[i]}}],
                {% endfor %}
                ['26a', {{graphik[25]}}],
                ['26b', {{graphik[26]}}],
                ['27a', {{graphik[27]}}],
                ['27b', {{graphik[28]}}]
            ]);
            const options = {
                title: 'Успеваемость',
                curveType: 'function',
                legend: { position: 'bottom' }
            };
            const chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
        }
    </script>

    <!-- Встроенные стили для текущей страницы -->
    <style>
        .center{
            padding-left: 650px
        }
        .pad{
            padding-left: 200px;
            padding-right: 200px
        }
    </style>

    <!-- Заголовок страницы в браузере -->
    <title>Результаты класса</title>
</head>
<body>

<!-- Навигационное меню -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">ЕГЭ</a>

    <!-- Кнопка сворачивания меню для мобильных устройств -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Блок меню навигации -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/math_main">Математика</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inf_main">Информатика</a>
            </li>
        </ul>

        <!-- Ссылка на профиль -->
        <form class="form-inline mt-2 mt-md-0">
            <a href="/enter"><img src="static/img/профиль.png" alt="Иконка"></a>
        </form>
    </div>
</nav>

<!-- Приветствие администратора -->
<h1 class="display-4" align=center>Здравствуйте, {{user.login}}!</h1>

<!-- Панель выбора предмета и кнопки добавления задания -->
<div style="text-align:center">
    <a type="button" href="/res_admin_math" class="btn btn-secondary">Математика</a>
    <a type="button" href="/res_admin_inf" class="btn btn-secondary active">Информатика</a>
    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-info">Добавить задание</button>

    <!-- Модальное окно для добавления задания -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
              title="Закрыть модальное окно">×</span>
        <form class="modal-content" method="post" enctype="multipart/form-data">
            <div class="container">
                <h1>Добавить новое задание в базу информатики</h1>
                <hr>
                <div class="form-group">
                    <!-- Поле ввода номера задания -->
                    <input class="form-control" name="number" placeholder="Номер задания">

                    <!-- Поле ввода текста задания -->
                    <p><textarea name="text" class="form-control" placeholder="Текст задания"></textarea></p>

                    <!-- Загрузка изображения к заданию (опционально) -->
                    <label>Картинка для задания (опционально)</label><br>
                    <input type="file" class="form-control-file" name="picture"><br>

                    <!-- Ссылки на файлы (опционально) -->
                    <label>Ссылки на файлы для задания (опционально)</label><br>
                    <input name="file" class="form-control" placeholder="ссылка">
                    <input name="file2" class="form-control" placeholder="ссылка"><br>

                    <!-- Поле ввода правильного ответа -->
                    <input class="form-control" name="answer" placeholder="Ответ">
                </div>

                <!-- Кнопки управления формой -->
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="cancelbtn btn btn-secondary">Отменить
                    </button>
                    <button type="submit" class="signupbtn btn-dark btn">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Таблица с результатами учеников -->
<div class="pad">
    <h3>Класс:</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Логин</th>
            <th scope="col">Средняя успеваемость</th>
            <th scope="col">Результат последнего пробника</th>
        </tr>
        </thead>
        <tbody>
        {% for j in table%}
        <tr>
            <th scope="row"></th>
            <td>{{j[0]}}</td>
            <td>{{j[1]}}</td>
            <td>{{j[2]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Кнопка открытия формы добавления ученика -->
<button onclick="document.getElementById('id02').style.display='block'" class="btn btn-secondary btn-lg btn-block">
    Добавить ученика
</button>

<!-- Модальное окно для добавления нового ученика -->
<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close"
          title="Закрыть модальное окно">×</span>
    <form class="modal-content" method="post" enctype="multipart/form-data">
        <div class="container">
            <h1>Добавить ученика</h1>
            <hr>
            <div class="form-group">
                <!-- Поле ввода логина нового ученика -->
                <input class="form-control" name="log" placeholder="Логин">
            </div>

            <!-- Кнопки управления формой -->
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id02').style.display='none'"
                        class="cancelbtn btn btn-secondary">Отменить
                </button>
                <button type="submit" class="signupbtn btn-dark btn">Добавить</button>
            </div>
        </div>
    </form>
</div>

<!-- Блок для отображения графика успеваемости -->
<br> <br> <br>
<div id="curve_chart" style="width: 100%; height: 500px"></div>

<!-- Кнопка выхода из аккаунта -->
<br> <br>
<a type="button" href="/logout" class="btn btn-secondary btn-lg btn-block">Выйти из аккаунта</a><br><br>
</body>

<!-- Разделитель -->
<div class="b-example-divider"></div>

<!-- Подвал сайта -->
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item"><a href="/motivation" class="nav-link px-2 text-body-secondary">Поддержка</a></li>
            <li class="nav-item"><a href="/lifehack" class="nav-link px-2 text-body-secondary">Лайфхаки</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; Чем больше работаешь - тем выше результат</p>
    </footer>
</div>
</html>